In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# This line reads the data from an Excel file called "money_and_happiness.xlsx"
df = pd.read_excel("money_and_happiness.xlsx")

In [ ]:
df

### Data Preparation

In [ ]:
df.columns # Shows the column names in the DataFrame 'df'

In [ ]:
df.info() # shows a summary of the DataFrame 'df'

In [ ]:
df.describe() # Gives a simple summary of the statistics in the DataFrame 'df'

In [ ]:
df['Income of 0-5500 dollars would increase my happiness.'] = df['Income of 0-5500 dollars would increase my happiness.'].replace({'Happy is not money but maybe 29.000':29000,'I would be comfortable with R60 000':60000,'75,000.00 Turkish Lira':75000,"100,000tl in an economical way.":100000, "None...but I would be satisfied with any amount that fits my needs.":0,'100K':100000,'40.000-50.000':50000,'10K':10000,'25000+':25000,'K50,000':50000,"100,000tl in an economical way. ":100000,"K45000":45000,"100":100000,"100 000": 100000,"50 000" : 50000}) # Replaces various income answers with numbers in the DataFrame column

In [ ]:
df['Income of 0-5500 dollars would increase my happiness.']

In [ ]:
df['Income of 0-5500 dollars would increase my happiness.'].fillna(0) # Fills any missing values in the income column with 0

In [ ]:
df.describe() # Gives a simple summary of the statistics in the DataFrame 'df'

In [ ]:
df = df.drop('Unnamed: 9',axis=1) # Removes the column named 'Unnamed: 9' from the DataFrame 'df'

In [ ]:
df = df.drop('Timestamp',axis=1) # Removes the column named 'Timestamp' from the DataFrame 'df'

In [ ]:
df

In [ ]:
df["What is the minimum wage of your occupation?"] = df["What is the minimum wage of your occupation?"].replace({"I dont know ":0,"#600":600,"25000 TL":25000,"17,000+":17000,"10000": 10000,"75K":75000,"R12 500":12500,"K5000":5000,"K3000":3000,"25000-40000":30000,"25000-40000":30000,"25000-40000":30000,"25000-40000":30000,"17,002.12 Turkish Lira":17003,"50K EUR yearly":4000,"500 USD (In Turkey)":16000,"ZMW7000":7000,"30000TL":30000,"K10,000":10000,"10 000":10000})# Replaces various income answers with numbers in the DataFrame column

In [ ]:
df["What is the minimum wage of your occupation?"]

In [ ]:
df.describe() # Gives a simple summary of the statistics in the DataFrame 'df'

In [ ]:
df

In [ ]:
df["In your opinion, is it better to be rich and unhappy or poor and happy?"]

In [ ]:
df["In your opinion, is it better to be rich and unhappy or poor and happy?"] = df["In your opinion, is it better to be rich and unhappy or poor and happy?"].replace({"I prefer to be rich:)":"I prefer to be rich","Neither. (I'd rather be fine and content)": "Neither. I'd rather be fine and content"})

In [ ]:
# Loop through each answer in the column along with its position (index).
for num, text in enumerate(df["In your opinion, is it better to be rich and unhappy or poor and happy?"]):
    # Check if the answer is longer than 20 characters.
    if len(text) > 20:
        # Print the index and the long answer.
        print(num,text)

In [ ]:
df

In [ ]:
df["Why?"]

In [ ]:
# Loop through each answer in the column along with its position (index).
for num , text in enumerate(df["Why?"]):
      # Check if the answer is longer or equal to 55 characters.
    if len(text) >= 55:
        # Print the index and the long answer.
        print(num,text)

In [ ]:
df = df.rename(columns={"Please Enter Your Gender":"Gender"}) #renames the column to Gender

In [ ]:
df

In [ ]:
df["Gender"] = df["Gender"].replace({"Femenine":"Female"}) # changes Femenine to Female

In [ ]:
#df.query("Nationality == 'Zambian'")

In [ ]:
df.info()